
body {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}

.wrapper {
    display: flex;
    align-items: center;
    /*padding: 20px 20px;*/
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid gray;
    border-radius: 15px;
    width: 120px;
    height: 160px;
    background-color: #f6f5f5;
}

img {
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 100px;

 }
.bottom {
    text-align: center;
}
