
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

p {
    font-size: 18px;
    text-align: center;

}

.wrapper {
    margin-top: 5px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 200px;
    background-color: #efdabd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rubik-pixels {
    font-family: "Rubik Pixels", sans-serif;
}

.sedgwick-ave-display {
    font-family: "Sedgwick Ave Display", sans-serif;
}

.dancing-script {
    font-family: "Dancing Script", sans-serif;
}

.fjalla-one {
    font-family: "Fjalla One", sans-serif;
}

.indie-flower {
    font-family: "Indie Flower", sans-serif;
}
